[submodule "busybox-1_32_stable"]
	path = apps/busybox/repo
	url = https://github.com/mirror/busybox.git
	branch = 1_32_stable
[submodule "dropbear-2024_85"]
	path = apps/dropbear/repo
	url = https://github.com/mkj/dropbear.git
[submodule "zlib-1_3_1"]
	path = libs/zlib/repo
	url = https://github.com/madler/zlib.git
	ignore = all
[submodule "haveged-1_9_18"]
	path = apps/haveged/repo
	url = https://github.com/jirka-h/haveged.git
	ignore = all
