[submodule "apps/busybox/repo"]
	path = apps/busybox/repo
	url = https://github.com/mirror/busybox.git
	branch = 1_32_stable
[submodule "apps/dropbear/repo"]
	path = apps/dropbear/repo
	url = https://github.com/mkj/dropbear.git
[submodule "apps/dropbear/zlib"]
	path = apps/zlib/repo
	url = https://github.com/madler/zlib.git
